In [1]:
import pandas as pd

In [2]:
# Pandas Series (1D Data)
# A Series is a one-dimensional labeled array.

data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# custom indexing 
series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(series)

a    10
b    20
c    30
dtype: int64

In [4]:
data = {
    "Name": ["younis", "muneeb", "ansa"],
    "Age": [21, 21, 21],
    "Area": ["nawakadal", "Lal bazar", "Lal bazar"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age       Area
0  younis   21  nawakadal
1  muneeb   21  Lal bazar
2    ansa   21  Lal bazar

In [13]:
df = pd.read_csv("data.csv")  # Reads CSV file
print(df.head())  # Shows first 5 rows

   EmployeeID    Name  Age Department  Salary
0         101  younis   22         HR   50000
1         102    ansa   21         IT   60000
2         103  muneeb   22    Finance   55000
3         104  maroof   23  Marketing   70000
4         105   anjum   32      Sales   65000

In [14]:
new_employee = pd.DataFrame([{ "EmployeeID":116,
    "Name": "waseem", "Age": 22, "Salary": 48000, "Department": "Support"}])
df = pd.concat([df, new_employee], ignore_index=True)

In [15]:
df.to_csv("output1.csv", index=False)  # Saves without index

In [17]:
df = pd.read_excel("sample_data.xlsx", sheet_name="Sales")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [18]:
pip install openpyxl
# The openpyxl library is needed because pandas uses it to read and write Excel (.xlsx) files.

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Users\91979\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [21]:
df = pd.read_excel("sample_data.xlsx", sheet_name="Sales")
print(df.head())

      Product  Sales  Profit
0      Laptop    100    5000
1       Phone    200    7000
2      Tablet    150    4500
3     Monitor    120    3000
4  Headphones    300    9000

In [22]:
df.to_excel("output3.xlsx", index=False)

In [23]:
df.to_csv("output4.csv", index=False)

In [24]:
# Basic Information
print(df.shape)  # (rows, columns)
print(df.info())  # Summary of dataset
print(df.describe())  # Statistical summary of numerical columns

(5, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  5 non-null      object
 1   Sales    5 non-null      int64
 2   Profit   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
None
            Sales       Profit
count    5.000000     5.000000
mean   174.000000  5700.000000
std     79.874902  2334.523506
min    100.000000  3000.000000
25%    120.000000  4500.000000
50%    150.000000  5000.000000
75%    200.000000  7000.000000
max    300.000000  9000.000000

In [25]:
# Displaying Data
print(df.head())  # First 5 rows
print(df.tail(3))  # Last 3 rows
print(df.columns)  # List of column names

      Product  Sales  Profit
0      Laptop    100    5000
1       Phone    200    7000
2      Tablet    150    4500
3     Monitor    120    3000
4  Headphones    300    9000
      Product  Sales  Profit
2      Tablet    150    4500
3     Monitor    120    3000
4  Headphones    300    9000
Index(['Product', 'Sales', 'Profit'], dtype='object')

In [31]:
df = pd.read_csv("data.csv")

In [33]:
print(df.head(15))  # First 10 rows
print(df.tail(3))  # Last 3 rows
print(df.columns)  # List of column names

    EmployeeID     Name  Age Department  Salary
0          101   younis   22         HR   50000
1          102     ansa   21         IT   60000
2          103   muneeb   22    Finance   55000
3          104   maroof   23  Marketing   70000
4          105    anjum   32      Sales   65000
5          106    farah   26    Support   48000
6          107   shazia   29         IT   62000
7          108    nazia   24    Finance   53000
8          109     umar   32         HR   59000
9          110  tajamul   31  Marketing   72000
10         111   ishrat   27      Sales   67000
11         112      ali   23         IT   61000
12         113  anabiya   34    Finance   54000
13         114   mursal   33         HR   58000
14         115   huzaif   26    Support   50000
    EmployeeID     Name  Age Department  Salary
12         113  anabiya   34    Finance   54000
13         114   mursal   33         HR   58000
14         115   huzaif   26    Support   50000
Index(['EmployeeID', 'Name', 'Age', 'Department', 'Salary'], dtype='object')

In [34]:
# Selecting Data
#  Selecting Columns
print(df["Name"])  # Single column
print(df[["Name", "Age"]])  # Multiple columns

0      younis
1        ansa
2      muneeb
3      maroof
4       anjum
5       farah
6      shazia
7       nazia
8        umar
9     tajamul
10     ishrat
11        ali
12    anabiya
13     mursal
14     huzaif
Name: Name, dtype: object
       Name  Age
0    younis   22
1      ansa   21
2    muneeb   22
3    maroof   23
4     anjum   32
5     farah   26
6    shazia   29
7     nazia   24
8      umar   32
9   tajamul   31
10   ishrat   27
11      ali   23
12  anabiya   34
13   mursal   33
14   huzaif   26

In [36]:
# Selecting Rows using iloc (Index-based)
print(df.iloc[1])  # Second row
print(df.iloc[0:3])  # Rows from index 1 to 2

EmployeeID      102
Name           ansa
Age              21
Department       IT
Salary        60000
Name: 1, dtype: object
   EmployeeID    Name  Age Department  Salary
0         101  younis   22         HR   50000
1         102    ansa   21         IT   60000
2         103  muneeb   22    Finance   55000

In [37]:
#  Selecting Rows using loc (Label-based)
print(df.loc[0, "Name"])  # First row, Name column
print(df.loc[:, ["Name", "Age"]])  # All rows, specific columns

younis
       Name  Age
0    younis   22
1      ansa   21
2    muneeb   22
3    maroof   23
4     anjum   32
5     farah   26
6    shazia   29
7     nazia   24
8      umar   32
9   tajamul   31
10   ishrat   27
11      ali   23
12  anabiya   34
13   mursal   33
14   huzaif   26

In [ ]:
adults = df["Age"] > 25
print(adults)

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7     False
8      True
9      True
10     True
11    False
12     True
13     True
14     True
Name: Age, dtype: bool

In [38]:
adults = df[df["Age"] > 25]
print(adults)

    EmployeeID     Name  Age Department  Salary
4          105    anjum   32      Sales   65000
5          106    farah   26    Support   48000
6          107   shazia   29         IT   62000
8          109     umar   32         HR   59000
9          110  tajamul   31  Marketing   72000
10         111   ishrat   27      Sales   67000
12         113  anabiya   34    Finance   54000
13         114   mursal   33         HR   58000
14         115   huzaif   26    Support   50000

In [ ]:
# df["Age"] > 25	Returns a Boolean Series (True/False values).
# df[df["Age"] > 25]	Returns a filtered DataFrame with only the rows where "Age" > 25.

In [41]:
# Multiple Conditions
filtered = df[(df["Age"] > 20) & (df["Department"] == "Marketing")]
print(filtered)

   EmployeeID     Name  Age Department  Salary
3         104   maroof   23  Marketing   70000
9         110  tajamul   31  Marketing   72000

In [ ]:
print(df)

    EmployeeID     Name  Age Department  Salary
0          101   younis   22         HR   50000
1          102     ansa   21         IT   60000
2          103   muneeb   22    Finance   55000
3          104   maroof   23  Marketing   70000
4          105    anjum   32      Sales   65000
5          106    farah   26    Support   48000
6          107   shazia   29         IT   62000
7          108    nazia   24    Finance   53000
8          109     umar   32         HR   59000
9          110  tajamul   31  Marketing   72000
10         111   ishrat   27      Sales   67000
11         112      ali   23         IT   61000
12         113  anabiya   34    Finance   54000
13         114   mursal   33         HR   58000
14         115   huzaif   26    Support   50000

In [45]:
# Modifying Data
# Adding a New Column
df["sex"] = ["Male", "Female","Male","Male","Female","Female","Female","Female","male","male","Female","male","Female","male","male" ]
print(df)

    EmployeeID     Name  Age Department  Salary     sex
0          101   younis   22         HR   50000    Male
1          102     ansa   21         IT   60000  Female
2          103   muneeb   22    Finance   55000    Male
3          104   maroof   23  Marketing   70000    Male
4          105    anjum   32      Sales   65000  Female
5          106    farah   26    Support   48000  Female
6          107   shazia   29         IT   62000  Female
7          108    nazia   24    Finance   53000  Female
8          109     umar   32         HR   59000    male
9          110  tajamul   31  Marketing   72000    male
10         111   ishrat   27      Sales   67000  Female
11         112      ali   23         IT   61000    male
12         113  anabiya   34    Finance   54000  Female
13         114   mursal   33         HR   58000    male
14         115   huzaif   26    Support   50000    male

In [46]:
df["Age"] = df["Age"] + 5

In [ ]:
print(df)

    EmployeeID     Name  Age Department     sex
0          101   younis   27         HR    Male
1          102     ansa   26         IT  Female
2          103   muneeb   27    Finance    Male
3          104   maroof   28  Marketing    Male
4          105    anjum   37      Sales  Female
5          106    farah   31    Support  Female
6          107   shazia   34         IT  Female
7          108    nazia   29    Finance  Female
8          109     umar   37         HR    male
9          110  tajamul   36  Marketing    male
10         111   ishrat   32      Sales  Female
11         112      ali   28         IT    male
12         113  anabiya   39    Finance  Female
13         114   mursal   38         HR    male
14         115   huzaif   31    Support    male

In [51]:
df.drop(columns=["Salary"], inplace=True)

KeyError: "['Salary'] not found in axis"

In [ ]:
# inplace=True means changes will be in  original file 
#  This does NOT modify df directly. Instead, it returns a new DataFrame with "Salary" removed.

In [52]:
df.drop(columns=["Department"], inplace=False)

    EmployeeID     Name  Age     sex
0          101   younis   27    Male
1          102     ansa   26  Female
2          103   muneeb   27    Male
3          104   maroof   28    Male
4          105    anjum   37  Female
5          106    farah   31  Female
6          107   shazia   34  Female
7          108    nazia   29  Female
8          109     umar   37    male
9          110  tajamul   36    male
10         111   ishrat   32  Female
11         112      ali   28    male
12         113  anabiya   39  Female
13         114   mursal   38    male
14         115   huzaif   31    male

In [54]:
df.drop(index=3, inplace=False)  # Removes row with index 1

    EmployeeID     Name  Age Department     sex
0          101   younis   27         HR    Male
1          102     ansa   26         IT  Female
2          103   muneeb   27    Finance    Male
4          105    anjum   37      Sales  Female
5          106    farah   31    Support  Female
6          107   shazia   34         IT  Female
7          108    nazia   29    Finance  Female
8          109     umar   37         HR    male
9          110  tajamul   36  Marketing    male
10         111   ishrat   32      Sales  Female
11         112      ali   28         IT    male
12         113  anabiya   39    Finance  Female
13         114   mursal   38         HR    male
14         115   huzaif   31    Support    male

In [56]:
df = pd.read_csv("missing_data.csv")

In [57]:
print(df.isnull().sum())  # Count of missing values

Name      1
Age       2
City      2
Salary    2
dtype: int64

In [58]:
df.fillna("Unknown", inplace=False)  # Fill with default value

      Name      Age         City   Salary
0    Alice     25.0     New York  50000.0
1      Bob     30.0  Los Angeles  60000.0
2  Charlie     22.0      Unknown  Unknown
3    David  Unknown      Houston  70000.0
4      Eve     35.0        Miami  65000.0
5  Unknown     28.0      Chicago  48000.0
6    Grace  Unknown       Boston  62000.0
7     Hank     40.0      Unknown  Unknown
8      Ivy     23.0      Seattle  53000.0
9     Jack     31.0       Denver  72000.0

In [59]:
df.dropna(inplace=False)

    Name   Age         City   Salary
0  Alice  25.0     New York  50000.0
1    Bob  30.0  Los Angeles  60000.0
4    Eve  35.0        Miami  65000.0
8    Ivy  23.0      Seattle  53000.0
9   Jack  31.0       Denver  72000.0

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("grouping_aggregation_data.csv")

In [61]:
df_grouped = df.groupby("City")["Age"].mean()
print(df_grouped) 
                            #   yeha par hum .groupby() function use kar rahe hai
# yeha par city mai jo log rehta unko hum average nikaal rahe hai

City
Boston         28.5
Chicago        25.0
Los Angeles    31.0
Miami          37.5
New York       27.5
Name: Age, dtype: float64

In [ ]:
# groupby("City")  Groups the data by the "City" column.

# .agg({"Age": "mean", "Salary": "sum"}) 

# "Age": "mean"  Calculates the average age for each city.

# "Salary": "sum"  Adds up all salaries for each city.

In [62]:
df_grouped = df.groupby("City").agg({"Age": "mean", "Salary": "sum"})

print(df_grouped)

              Age  Salary
City
Boston       28.5  116000
Chicago      25.0  125000
Los Angeles  31.0  119000
Miami        37.5  137000
New York     27.5  110000

In [64]:
# Sorting Data
# Sorting by a Column
df_sorted = df.sort_values(by="Age", ascending=True) 
print(df_sorted)
# if ascending is false it means in decending

      Name  Age         City  Salary
2  Charlie   22      Chicago   55000
0    Alice   25     New York   50000
8      Ian   26       Boston   57000
3    David   28      Chicago   70000
6    Grace   29  Los Angeles   58000
1      Bob   30     New York   60000
9     Jack   31       Boston   59000
7    Helen   33  Los Angeles   61000
4      Eve   35        Miami   65000
5    Frank   40        Miami   72000

In [66]:
# Sorting by Multiple Columns
df_sorted = df.sort_values(by=["City", "Age"], ascending=[True, False])
print(df_sorted)

      Name  Age         City  Salary
9     Jack   31       Boston   59000
8      Ian   26       Boston   57000
3    David   28      Chicago   70000
2  Charlie   22      Chicago   55000
7    Helen   33  Los Angeles   61000
6    Grace   29  Los Angeles   58000
5    Frank   40        Miami   72000
4      Eve   35        Miami   65000
1      Bob   30     New York   60000
0    Alice   25     New York   50000

In [ ]:
# Merging & Joining DataFrames
# Concatenation
df1 = pd.DataFrame({"A": [1, 2], "B": [3, 4]})
df2 = pd.DataFrame({"A": [5, 6], "B": [7, 8]})

df_concat = pd.concat([df1, df2])
print(df_concat)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [68]:
# Merging on a Common Column
df1 = pd.DataFrame({"ID": [1, 2], "Name": ["Alice", "Bob"]})
df2 = pd.DataFrame({"ID": [1, 2], "Salary": [50000, 60000]})

df_merged = pd.merge(df1, df2, on="ID")
print(df_merged)

   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000

In [69]:
df = pd.read_csv("grouping_aggregation_data.csv")

In [ ]:
#  Pivot Table in Pandas

In [70]:
df.pivot_table(index="City", values="Age", aggfunc="mean")

              Age
City
Boston       28.5
Chicago      25.0
Los Angeles  31.0
Miami        37.5
New York     27.5

In [ ]:
#  Difference Between groupby() and pivot_table()
# Feature	                   |   groupby()                             	                |    pivot_table()
# Used for	                   |   Grouping & Aggregation	                                |   Creating pivot tables (like in Excel)
# Works with NaN?	           |  No, it does not handle missing values automatically	    |  Yes, it fills missing values with NaN by default 
# Multi-index Support          |	Limited	                                                |   Supports multiple index levels

In [ ]:
# Applying Functions
df["Age"] = df["Age"].apply(lambda x: x * 2)  # Multiply age by 2
print(df)

      Name  Age         City  Salary
0    Alice   50     New York   50000
1      Bob   60     New York   60000
2  Charlie   44      Chicago   55000
3    David   56      Chicago   70000
4      Eve   70        Miami   65000
5    Frank   80        Miami   72000
6    Grace   58  Los Angeles   58000
7    Helen   66  Los Angeles   61000
8      Ian   52       Boston   57000
9     Jack   62       Boston   59000

In [ ]:
# Working with Time-Series Data

In [10]:
import pandas as pd

# Sample Data
data = {
    "Date": ["2024-01-01", "2024-02-05", "2024-03-10", "2024-03-15", "2024-04-01"],
    "Sales": [100, 150, 200, 220, 180]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df.dtypes)

# Convert "Date" column to datetime format
df["Date"] = pd.to_datetime(df["Date"])

# Check data types
print(df.dtypes)

Date     object
Sales     int64
dtype: object
Date     datetime64[ns]
Sales             int64
dtype: object

In [9]:
df.set_index("Date", inplace=True)
print(df)

            Sales
Date
2024-01-01    100
2024-02-05    150
2024-03-10    200
2024-03-15    220
2024-04-01    180

In [13]:
df = pd.read_csv("time_series_sales.csv")

In [16]:
import pandas as pd

df = pd.read_csv("time_series_sales.csv")
print(df.head())  # View first 5 rows
print(df.info())  # Get dataset info

         Date  Sales
0  01-01-2024    100
1  15-01-2024    150
2  10-02-2024    200
3  20-02-2024    250
4  05-03-2024    180
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      object
 1   Sales   5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
None

In [17]:
df["Date"] = pd.to_datetime(df["Date"])

ValueError: time data "15-01-2024" doesn't match format "%m-%d-%Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [18]:
df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y")

In [19]:
df_resampled = df.resample("M").mean()  # Resample monthly and calculate mean
print(df_resampled)

C:\Users\91979\AppData\Local\Temp\ipykernel_16164\757818780.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_resampled = df.resample("M").mean()  # Resample monthly and calculate mean

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [20]:
df.set_index("Date", inplace=True)
print(df)

            Sales
Date
2024-01-01    100
2024-01-15    150
2024-02-10    200
2024-02-20    250
2024-03-05    180

In [21]:
df_resampled = df.resample("M").mean()  # Resample monthly and calculate mean
print(df_resampled)

            Sales
Date
2024-01-31  125.0
2024-02-29  225.0
2024-03-31  180.0

C:\Users\91979\AppData\Local\Temp\ipykernel_16164\757818780.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_resampled = df.resample("M").mean()  # Resample monthly and calculate mean

In [ ]:
# Resampling is a way to group time-series data into different time intervals (e.g., daily, monthly, yearly) and apply calculations like sum, mean, etc.

# Think of resampling like organizing a messy calendar of sales data:

# If you have daily sales data, you can resample it to monthly data by taking the average or total sales per month.

# If you have hourly weather data, you can resample it to daily data by calculating the daily average temperature.

In [ ]:
# Other Resampling Frequencies
# Code Meaning	            Example
# "D"	 Daily	                resample("D")
# "W"	 Weekly	                resample("W")
# "M"	 Monthly (Month-End)	resample("M")
# "Q"	 Quarterly	            resample("Q")
# "Y"	 Yearly (Year-End)	    resample("Y")
# younis khan

In [23]:
df = pd.read_csv("time_series_sales.csv")

In [25]:
df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y")

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])
df.set_index("Date", inplace=True)
print(df.resample("M").mean())  # Resample monthly

            Sales
Date
2024-01-31  125.0
2024-02-29  225.0
2024-03-31  180.0

C:\Users\91979\AppData\Local\Temp\ipykernel_16164\2495999117.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  print(df.resample("M").mean())  # Resample monthly

In [ ]:
# Exporting Data
df.to_csv("output.csv", index=False)
df.to_excel("output.xlsx", index=False)