In [1]:
# A tuple is an ordered, immutable collection that allows duplicate elements.
# It is similar to a list, but once a tuple is created, its elements cannot be changed

In [ ]:
# Tuples are defined using parentheses () or the tuple() function.

In [ ]:
# creating tuple

# Empty tuple
empty_tuple = ()

# Tuple with elements
numbers = (1, 2, 3, 4, 5)
fruits = ("apple", "banana", "cherry")

# Using tuple() function
chars = tuple("hello")  # ('h', 'e', 'l', 'l', 'o')

# Single element tuple (Note the comma)
single_element = (5,)  # Must include a comma

print(type(single_element))  # <class 'tuple'>

<class 'tuple'>

In [5]:
# 0 based indexing 
numbers = (10, 20, 30, 40, 50)

print(numbers[0])  # 10
print(numbers[2])  # 30
print(numbers[-1]) # 50 (last element)

10
30
50

In [ ]:
# Slicing 
numbers = (10, 20, 30, 40, 50)

print(numbers[1:4])   # (20, 30, 40)
print(numbers[:3])    # (10, 20, 30)
print(numbers[2:])    # (30, 40, 50)
print(numbers[-3:])   # (30, 40, 50)
print(numbers[::2])   # (10, 30, 50) (every second element)

(20, 30, 40)
(10, 20, 30)
(30, 40, 50)
(30, 40, 50)
(10, 30, 50)

In [7]:
numbers = (1, 2, 3, 4)

# This will cause an error
numbers[1] = 10  #  TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
# If modifications are needed, convert the tuple to a list, modify it, and convert it back.

In [8]:
numbers = (1, 2, 3, 4)
numbers_list = list(numbers)  # Convert to list
numbers_list[1] = 10  # Modify
numbers = tuple(numbers_list)  # Convert back to tuple
print(numbers)  # (1, 10, 3, 4)

(1, 10, 3, 4)

In [9]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [10]:
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [12]:
# concatenation ( joining two tuple)
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2
print(result)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
# Repeating tuple
numbers = (1, 2, 3)
result = numbers * 3
print(result)  # (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# checking the value  present in tuple
numbers = (1, 2, 3, 4, 5)

print(3 in numbers)   # True
print(6 not in numbers) # True

In [14]:
# count and index of
numbers = (1, 2, 3, 4, 1, 1, 5)

print(numbers.count(1))  # 3 (counts occurrences of 1)
print(numbers.index(3))  # 2 (index of first occurrence of 3)

3
2

In [ ]:
#  Tuple Packing
# Tuples can store multiple values in a single variable.

In [15]:
person = ("Alice", 25, "Engineer")
print(person)  # ('Alice', 25, 'Engineer')

('Alice', 25, 'Engineer')

In [ ]:
#  Tuple Unpacking
# # You can extract values from a tuple into separate variables.

In [ ]:
name, age, profession = person

print(name)       # Alice
print(age)        # 25
print(profession) # Engineer

Alice
25
Engineer

In [17]:
# If the number of variables is fewer, use * to capture remaining values.
numbers = (1, 2, 3, 4, 5)

a, b, *rest = numbers
print(a)    # 1
print(b)    # 2
print(rest) # [3, 4, 5]

1
2
[3, 4, 5]

In [18]:
name,*rest = person
print(name) 
print(rest)

Alice
[25, 'Engineer']

In [ ]:
# Nested Tuples
# Tuples can contain other tuples, creating multi-dimensional structures

In [20]:
nested_tuple = ((1, 2, 3), ("apple", "banana"))
print(nested_tuple[1][0])  # apple

apple

In [21]:
# When to Use Tuples?
# When you donâ€™t want data to be changed after creation.

# When working with fixed collections (e.g., coordinates, database records).

# When performance is a priority (tuples are faster than lists).